/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: white;
    color: black;
    text-shadow: none;
}

::selection {
    background: white;
    color: black;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    color: #000;
    padding: 0.2em 0;
    background-color: #ccc;
}
    .browsehappy a {
        color: #fff;
        text-decoration: none;

        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
    }
    .browsehappy a:hover {
        color: #000;
    }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    font-family: 'Pathway Gothic One', 'sans-serif';
}
html { 
    background: url('../img/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: lightgray;
}
    footer a {
        color: lightgray;
        text-decoration: none;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        
    }
    footer a:hover {
        color: black;
        cursor: pointer;
    }

table {
    text-align: center;

    background-color: #565759;
    color: white;
    font-size: 20px;
}
th {
    font-weight: normal;
    font-size: 22px;
}
th, td {
    padding: 10px 20px;
}
/*
Cross page styles    
*/

/*
    Image Gallery
    */
div#popup-gallery {
    visibility: hidden;

    z-index: 1000;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0);

    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}
    div#popup-gallery-main-container {
        opacity: 0;

        width: 904px;
        height: auto;

        margin: 100px auto 0 auto;

        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
    }
        #popup-gallery-previous,
        #popup-gallery-next {
            display: inline-block;
            position: absolute;
            width: 50px;
            text-align: center;

            padding: 5px 10px;
            background-color: black;
            color: white;

            transition: all .5s;
            -moz-transition: all .5s;
            -webkit-transition: all .5s;
        }
        #popup-gallery-previous:hover,
        #popup-gallery-next:hover {
            background-color: white;
            color: black;
            cursor: pointer;
        }
        #popup-gallery-next {
            float: left;
            margin: 50px 0 0 -70px;
        }
        #popup-gallery-previous {
            float: right;
            margin: 50px 0 0 0;
        }
        div#popup-gallery-image {

            display: inline-block;

            width: 904px;
            height: auto;

            overflow: hidden;
        }
            #popup-gallery-image ul {
                margin: 0;
                margin-left: 0px;
                padding: 0;
                width: 500000px;
                height: auto;

                transition: all 1s ease;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
            }
                #popup-gallery-image li {
                    list-style: none;
                    display: inline-block;
                    margin: 0;
                }
                #popup-gallery-image > ul > li:after,
                #popup-gallery-image > ul > li:before {
                    content: "";
                }
                    #popup-gallery-image > ul > li > img:after,
                    #popup-gallery-image > ul > li > img:before {
                        content: "";
                }

#main-container {
    width: 1280px;
    min-height: 600px;

    margin: 30px auto;
    padding: 1px;
}
    /*
        Left Main Container
        */
    #left-container {
        width: 426px;
        min-height: 720px;

        float: left;

        position: fixed;
    }
        /*
            Top Left Container
            */
        #left-top-container {
            width: 320px;
            height: 320px;

            padding: 0 53px;
        }
        #left-top-container.img:hover {

        }
        /*
            Bottom Left Container
            */
        #left-bottom-container {
            width: 400px;

            padding: 0 13px;
        }
    /*
        Right Main Container
        */
    #right-container {
        width: 852px;
        min-height: 720px;

        float: right;
    }
        /*
            Top Right Container
            */
        #right-top-container {
            width: 852px;
            height: 390px;
        }
            #top-buttons {
                width: 852px;
                height: 30px;

                position: absolute;
            }
                #lang-buttons {
                    width: 237px;
                    height: 26px;

                    position: relative;
                    z-index: 100;

                    display: inline-block;

                    padding: 2px 2px 2px 7px;

                    background-color: black;
                    color: white;

                    font-size: 22px;
                    font-weight: normal;
                }
                    .lang-buttons-section {
                        height: 26px;
                        line-height: 26px;
                    }
                    #lang-text {
                        width: 157px;
                        float: left;
                    }
                    #lang-flags {
                        width: 76px;
                        float: right;
                    }
                        .flag {
                            width: 36px;
                            height: 26px;
                            display: inline-block;

                            background-size: cover;
                            transition: all .5s;
                            -webkit-transition: all .5s;
                            -moz-transition: all .5s:
                        }
                        #flag-pt {
                            background-image: url("../img/pt-gs.png");
                        }
                        #flag-pt:hover {
                            background-image: url("../img/pt.png");
                        }
                        #flag-en {
                            background-image: url("../img/en-gs.png");
                        }
                        #flag-en:hover {
                            background-image: url("../img/en.png");
                        }
                #gallery-button {
                    width: 217px;
                    height: 26px;

                    display: inline-block;
                    float: right;
                    padding: 2px 7px;

                    position: relative;
                    z-index: 100;
                    
                    font-size: 22px;
                    line-height: 26px;
                    background-color: black;
                    color: white;

                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                }
                    #gallery-button a {
                        text-decoration: none;
                        color: white;
                    }
                    #gallery-button:hover {
                        background-color: white;
                    }
                    #gallery-button:hover {
                        color: black;
                        cursor: pointer;
                    }
            #center-gallery {
                width: 852px;
                height: 320px;
                position: relative;
                overflow: visible;
            }
            #center-gallery-mask {
                overflow: hidden;
                height: 320px;
            }
                #center-gallery ul {
                    margin: 0;
                    padding: 0;
                    position: relative;
                }
                    #center-gallery li {
                        width: 852px;
                        height: 320px;
                        
                        position: absolute;
                        top: 0;	/* Original Position - Outside of the Slider */
                        list-style: none;
                    }
                        #center-gallery-list>li:nth-child(1) { 
                            animation: cycle-1 60s ease infinite;
                            -moz-animation: cycle-1 60s ease infinite;
                            -webkit-animation: cycle-1 60s ease infinite;
                        }
                        #center-gallery-list>li:nth-child(2) {
                            animation: cycle-2 60s ease infinite;
                            -moz-animation: cycle-2 60s ease infinite;
                            -webkit-animation: cycle-2 60s ease infinite;
                        }
                        #center-gallery-list>li:nth-child(3) {
                            animation: cycle-3 60s ease infinite;
                            -moz-animation: cycle-3 60s ease infinite;
                            -webkit-animation: cycle-3 60s ease infinite;
                        }
                        #center-gallery-list>li:nth-child(4) {
                            animation: cycle-4 60s ease infinite;
                            -moz-animation: cycle-4 60s ease infinite;
                            -webkit-animation: cycle-4 60s ease infinite;
                        }
                        #center-gallery-list>li:nth-child(5) {
                            animation: cycle-5 60s ease infinite;
                            -moz-animation: cycle-5 60s ease infinite;
                            -webkit-animation: cycle-5 60s ease infinite;
                        }
                        #center-gallery-list>li:nth-child(6) {
                            animation: cycle-6 60s ease infinite;
                            -moz-animation: cycle-6 60s ease infinite;
                            -webkit-animation: cycle-6 60s ease infinite;
                        }
                        #center-gallery-list>li:nth-child(7) {
                            animation: cycle-7 60s ease infinite;
                            -moz-animation: cycle-7 60s ease infinite;
                            -webkit-animation: cycle-7 60s ease infinite;
                        }
                        #center-gallery-list>li:nth-child(8) {
                            animation: cycle-8 60s ease infinite;
                            -moz-animation: cycle-8 60s ease infinite;
                            -webkit-animation: cycle-8 60s ease infinite;
                        }
                        #center-gallery-list>li:nth-child(9) {
                            animation: cycle-9 60s ease infinite;
                            -moz-animation: cycle-9 60s ease infinite;
                            -webkit-animation: cycle-9 60s ease infinite;
                        }
                        #center-gallery-list>li:nth-child(10) {
                            animation: cycle-10 60s ease infinite;
                            -moz-animation: cycle-10 60s ease infinite;
                            -webkit-animation: cycle-10 60s ease infinite;
                        }
                    #center-gallery img {
                        width: 852px;
                        height: 320px;
                    }
                    
          @-webkit-keyframes cycle-1 {

            0% { opacity: 1; }  /* display */
            8% { opacity: 1; }  /* start moving out */
            10% { opacity: 0; } /* end moving out */
            98% { opacity: 0; } /* start moving in */
            100% { opacity: 1; } /* end moving in */
          }
          @-webkit-keyframes cycle-2 {
            0% { opacity: 0; } /* wait */
            8% { opacity: 0; } /* start moving in*/
            10% { opacity: 1; }  /* display */
            18% { opacity: 1; }  /* start moving out */
            20% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-webkit-keyframes cycle-3 {
            0% { opacity: 0; } /* wait */
            18% { opacity: 0; } /* start moving in*/
            20% { opacity: 1; }  /* display */
            28% { opacity: 1; }  /* start moving out */
            30% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-webkit-keyframes cycle-4 {
            0% { opacity: 0; } /* wait */
            28% { opacity: 0; } /* start moving in*/
            30% { opacity: 1; }  /* display */
            38% { opacity: 1; }  /* start moving out */
            40% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-webkit-keyframes cycle-5 {
            0% { opacity: 0; } /* wait */
            38% { opacity: 0; } /* start moving in*/
            40% { opacity: 1; }  /* display */
            48% { opacity: 1; }  /* start moving out */
            50% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-webkit-keyframes cycle-6 {
            0% { opacity: 0; } /* wait */
            48% { opacity: 0; } /* start moving in*/
            50% { opacity: 1; }  /* display */
            58% { opacity: 1; }  /* start moving out */
            60% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-webkit-keyframes cycle-7 {
            0% { opacity: 0; } /* wait */
            58% { opacity: 0; } /* start moving in*/
            60% { opacity: 1; }  /* display */
            68% { opacity: 1; }  /* start moving out */
            70% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-webkit-keyframes cycle-8 {
            0% { opacity: 0; } /* wait */
            68% { opacity: 0; } /* start moving in*/
            70% { opacity: 1; }  /* display */
            78% { opacity: 1; }  /* start moving out */
            80% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-webkit-keyframes cycle-9 {
            0% { opacity: 0; } /* wait */
            78% { opacity: 0; } /* start moving in*/
            80% { opacity: 1; }  /* display */
            88% { opacity: 1; }  /* start moving out */
            90% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-webkit-keyframes cycle-10 {
            0% { opacity: 0; } /* wait */
            88% { opacity: 0; } /* start moving in*/
            90% { opacity: 1; }  /* display */
            98% { opacity: 1; }  /* start moving out */
            100% { opacity: 0; }
          }
          @-moz-keyframes cycle-1 {

            0% { opacity: 1; }  /* display */
            8% { opacity: 1; }  /* start moving out */
            10% { opacity: 0; } /* end moving out */
            98% { opacity: 0; } /* start moving in */
            100% { opacity: 1; } /* end moving in */
          }
          @-moz-keyframes cycle-2 {
            0% { opacity: 0; } /* wait */
            8% { opacity: 0; } /* start moving in*/
            10% { opacity: 1; }  /* display */
            18% { opacity: 1; }  /* start moving out */
            20% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-moz-keyframes cycle-3 {
            0% { opacity: 0; } /* wait */
            18% { opacity: 0; } /* start moving in*/
            20% { opacity: 1; }  /* display */
            28% { opacity: 1; }  /* start moving out */
            30% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-moz-keyframes cycle-4 {
            0% { opacity: 0; } /* wait */
            28% { opacity: 0; } /* start moving in*/
            30% { opacity: 1; }  /* display */
            38% { opacity: 1; }  /* start moving out */
            40% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-moz-keyframes cycle-5 {
            0% { opacity: 0; } /* wait */
            38% { opacity: 0; } /* start moving in*/
            40% { opacity: 1; }  /* display */
            48% { opacity: 1; }  /* start moving out */
            50% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-moz-keyframes cycle-6 {
            0% { opacity: 0; } /* wait */
            48% { opacity: 0; } /* start moving in*/
            50% { opacity: 1; }  /* display */
            58% { opacity: 1; }  /* start moving out */
            60% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-moz-keyframes cycle-7 {
            0% { opacity: 0; } /* wait */
            58% { opacity: 0; } /* start moving in*/
            60% { opacity: 1; }  /* display */
            68% { opacity: 1; }  /* start moving out */
            70% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-moz-keyframes cycle-8 {
            0% { opacity: 0; } /* wait */
            68% { opacity: 0; } /* start moving in*/
            70% { opacity: 1; }  /* display */
            78% { opacity: 1; }  /* start moving out */
            80% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-moz-keyframes cycle-9 {
            0% { opacity: 0; } /* wait */
            78% { opacity: 0; } /* start moving in*/
            80% { opacity: 1; }  /* display */
            88% { opacity: 1; }  /* start moving out */
            90% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @-moz-keyframes cycle-10 {
            0% { opacity: 0; } /* wait */
            88% { opacity: 0; } /* start moving in*/
            90% { opacity: 1; }  /* display */
            98% { opacity: 1; }  /* start moving out */
            100% { opacity: 0; }
          }
          @keyframes cycle-1 {

            0% { opacity: 1; }  /* display */
            8% { opacity: 1; }  /* start moving out */
            10% { opacity: 0; } /* end moving out */
            98% { opacity: 0; } /* start moving in */
            100% { opacity: 1; } /* end moving in */
          }
          @keyframes cycle-2 {
            0% { opacity: 0; } /* wait */
            8% { opacity: 0; } /* start moving in*/
            10% { opacity: 1; }  /* display */
            18% { opacity: 1; }  /* start moving out */
            20% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @keyframes cycle-3 {
            0% { opacity: 0; } /* wait */
            18% { opacity: 0; } /* start moving in*/
            20% { opacity: 1; }  /* display */
            28% { opacity: 1; }  /* start moving out */
            30% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @keyframes cycle-4 {
            0% { opacity: 0; } /* wait */
            28% { opacity: 0; } /* start moving in*/
            30% { opacity: 1; }  /* display */
            38% { opacity: 1; }  /* start moving out */
            40% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @keyframes cycle-5 {
            0% { opacity: 0; } /* wait */
            38% { opacity: 0; } /* start moving in*/
            40% { opacity: 1; }  /* display */
            48% { opacity: 1; }  /* start moving out */
            50% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @keyframes cycle-6 {
            0% { opacity: 0; } /* wait */
            48% { opacity: 0; } /* start moving in*/
            50% { opacity: 1; }  /* display */
            58% { opacity: 1; }  /* start moving out */
            60% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @keyframes cycle-7 {
            0% { opacity: 0; } /* wait */
            58% { opacity: 0; } /* start moving in*/
            60% { opacity: 1; }  /* display */
            68% { opacity: 1; }  /* start moving out */
            70% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @keyframes cycle-8 {
            0% { opacity: 0; } /* wait */
            68% { opacity: 0; } /* start moving in*/
            70% { opacity: 1; }  /* display */
            78% { opacity: 1; }  /* start moving out */
            80% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @keyframes cycle-9 {
            0% { opacity: 0; } /* wait */
            78% { opacity: 0; } /* start moving in*/
            80% { opacity: 1; }  /* display */
            88% { opacity: 1; }  /* start moving out */
            90% { opacity: 0; } /* end moving out */
            100% { opacity: 0; }
          }
          @keyframes cycle-10 {
            0% { opacity: 0; } /* wait */
            88% { opacity: 0; } /* start moving in*/
            90% { opacity: 1; }  /* display */
            98% { opacity: 1; }  /* start moving out */
            100% { opacity: 0; }
          }



            nav {
                width: 852px;
                height: 20px;

                background-color: black;
            }
                nav ul {
                    position: absolute;

                    width: 852px;
                    height: 120px;

                    padding: 0;
                    margin: -50px 25px;

                }
                    nav ul li {
                        display: inline-block;
                        width: 120px;
                        height: 120px;

                        margin: 0 20px;

                        background-image: url("../img/btn.png");

                        vertical-align: middle;

                        -webkit-animation: rotation 5s infinite linear;
                        -webkit-animation-play-state: paused;

                        -moz-animation: rotation 5s infinite linear;
                        -moz-animation-play-state: paused;

                        animation: rotation 5s infinite linear;
                        animation-play-state: paused;
                    }
                    nav ul li:hover {
                        -webkit-animation-play-state: running;

                        -moz-animation-play-state: running;

                        animation-play-state: running;
                    }
                    nav ul li:hover > a {
                        -webkit-animation-play-state: running;
                        
                        -moz-animation-play-state: running;
                        
                        animation-play-state: running;
                    }
                        nav ul li a {
                            display: block;
                            width: 120px;
                            height: inherit;

                            line-height: 24px;

                            font-size: 24px;
                            text-align: center;
                            display: table-cell;
                            vertical-align: middle;

                            text-decoration: none;
                            color: black;

                            -webkit-animation: rotation-counterclockwise 5s infinite linear;
                            -webkit-animation-play-state: paused;

                            -moz-animation: rotation-counterclockwise 5s infinite linear;
                            -moz-animation-play-state: paused;

                            animation: rotation-counterclockwise 5s infinite linear;
                            animation-play-state: paused;
                        }
                        nav ul li#active {
                            background-image: url("../img/btn-active.png");
                        }
                        nav ul li#active > a {
                            color: white;
                        }
        #bottom-right-container {
            width: 852px;
            min-height: 320px;

            padding-top: 10px;
        }

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .no-chrome {
        display: none;
    }
}
/*
    Content Styles
    */
#content-container {
    margin-bottom: 20px;
}
    #content-container h1, h2 {
        border-bottom: 3px solid black;
    }
    #content-container a {
        background-color: black;
        text-decoration: none;
        color: white;

        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }
        #content-container a:hover {
            color: black;
            background-color: white;
        }
    #content-container p {
        text-align: justify;
    }
    #content-container ul {
        list-style-type: square;
    }
    #content-container ul::selection {
        background-color: white;
    }


/*
    Contacts Styles
    */
#contact-container {
    height: 213px;
    margin: 0;
    padding: 0; 
}
    #contact-left {
        float: left;
        width: 500px;
        height: 213px;
        background-color: #565759;

        padding: 0 10px;
    }
        .contact-left-content {
            border-bottom: 3px solid white;
            padding: 10px 0 15px 0;
        }
        .contact-left-content-last {
            border: none;
        }
            .contact-left-content p,
            .contact-left-content a {
                font-size: 20px;
                font-weight: 100;
                line-height: 22px;
                color: white;
                margin: 0;

                background-color: transparent !important;
            }
    #contact-right {
        float: right;
        width: 332px;
    }

/*
    Reservas Styles
    */
#form-container {
    width: 852px;
}
    #form-container-left,
    #form-container-right {
        display: inline-block;

        width: 421px;
        height: 134px;
    }
    #form-containet-left {
        margin-right: 5px;
    }
    #form-container-right {
        margin-left: 5px;
    }


input {
    width: 413px;
    float: left;
    height: 23px;
    border: 0;
    background-color: #565759;
    margin-bottom: 10px;
    padding: 2px 4px;
    line-height: 23px;
    color: white;
}
input[type=submit] {
    width: 852px;
    height: 27px;
    font-weight: bold;
    margin: 10px 0 0 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
    input[type=submit]:hover {
        background-color: white;
        color: black;
    }
input[type=date] {
    width: 200px !important;
    margin: 0;
    display: inline;
}
    input#de:before {
        content: "De :";
    }
    input#ate {
        float: right;
    }
    input#ate:before {
        content: "Ate :";
    }
label {
    width: 56px;
    height: 27px;
}
textarea {
    padding: 0;
    width: 413px;
    height: 134px;
    margin: 0;
    padding: 2px 4px;
    float: right;
    background-color: #565759;
    border: 0;
    color: white;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}@-webkit-keyframes rotation-counterclockwise {
    0% {
        -webkit-transform: rotate(360deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
 @-moz-keyframes rotation {
    0% {
        -moz-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}@-moz-keyframes rotation-counterclockwise {
    0% {
        -moz-transform: rotate(360deg);
    }
    50% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
} @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}@keyframes rotation-counterclockwise {
    0% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
